header{
    height:4em;
    color:white;
    margin:0px;
    padding:0px;
}

ul{
    display:flex;
    justify-content: space-between;
}

li{
    list-style: none;
    padding:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

nav{
    margin:auto;
    display:flex;
    justify-content: space-between;
}

#profile-pic{
    border-radius:50%;
    padding:0.25em;
    margin:0.25em;
    padding-left:0.5em;
}
