header{
    height:5em;
    color:white;
    margin:0px;
    padding:0px;
}

ul{
    display:flex;
    justify-content: space-between;
    padding:0px;
}

li{
    font-size:1.3em;
    margin:auto;
    list-style: none;
    padding:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    height:100%;
}

.nav-li:hover{
    color:#876f4b;
}

nav{
    margin:auto;
    display:flex;
    justify-content: space-between;
}

#profile-pic{
    border-radius:50%;
    padding:0.25em;
    margin:0.25em;
    padding-left:0.5em;
    height:4.2em;
    width:4.2em;
}

#profile-name{
    padding-left:5px;
    text-transform: uppercase;
    color:white;
    margin:auto;
    font-family: 'Playfair Display', serif;
    font-size:2em;
    letter-spacing: 3px;
}

@media only screen and (max-width: 600px){
    #profile-name{
        display:none;
    }
}

#profile-link{
    display:flex;
    flex-grow: initial;
    text-decoration: none;
}