.project{
    display:flex;
    flex-wrap: wrap;
}

.project_tech>ul{
    flex-wrap:wrap;
}

.project > div{
    flex:1;
}

.project_img{
    align-self: center;
    object-fit: scale-down;
    width: 60%;
    height: 60%;
    max-width: 400px;
    max-height: 600px;
    min-width: 200px;
    min-height:300px;
}

.project_img_container{
    background: linear-gradient(135deg, black, grey);
    display:flex;
    justify-content: space-around;
    border-radius:30px;
}

.project_desc_container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.project_title{
    font-size:3em;
    margin:0.5em;
}

.project_date{
    font-size:1.6em;
}

.project_description{
    font-size:1em;
}

h2{
    text-transform: uppercase;
}





