.quote-banner{
    background-color: #876f4b;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:3em;
    margin-bottom:2em;
}

.quote-img{
    align-self: center;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 600px;
    min-width: 460px;
    min-height:340px;
}

.quotebanner-left{
    font-family: 'Playfair Display', serif;
}

.quotebanner-left,.quotebanner-right{
    margin-top:auto;
    margin-bottom:auto;
    padding:4em;
}

.quotebanner-left>p{
    font-weight: lighter;
}

.quotebanner-left>h3{
    letter-spacing: 1px;
}





