.quote-banner{
    background-color: #876f4b;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:3em;
    margin-bottom:2em;
}

.quote-img{
    align-self: center;
    object-fit: scale-down;
    width:280px;
}

.quotebanner-left{
    font-family: 'Playfair Display', serif;
}

.quotebanner-left,.quotebanner-right{
    margin-top:auto;
    margin-bottom:auto;
    padding:1em;
}

@media only screen and (min-width:600px){
    .quotebanner-left,.quotebanner-right{
        padding:3em;
    }

    .quote-img{
        min-width:500px;
    }
}

.quotebanner-left>p{
    font-weight: lighter;
}

.quotebanner-left>h3{
    letter-spacing: 1px;
}





